@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Bai+Jamjuree|Carrois+Gothic+SC|Coda+Caption:800|Darker+Grotesque|Do+Hyeon|Gilda+Display|Homenaje|IM+Fell+English+SC|Krub|Montez|Overpass+Mono|Sansita|Seaweed+Script|Sedgwick+Ave+Display|Vast+Shadow|Yeon+Sung&display=swap');

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

:root {
 /* Coolors 2 */

 --int-orange: #B80C09;
 --seal-brown: #6B2B06;
 --platinum: #E5E7E6;
 --black-shadows: #B7B5B3;
 --smokey-black: #141301;
 --brass: #B39C4D;
 --palm-leaf: #768948;
 --fern-green: #607744;
 --hunter-green: #34623F;
 --persian-redd: #C84630;
 --pastel-pink: #D4A0A7;
 --taupe-grey: #898989;
 --shiny-shamrock: #5DA271;
 --smoke: #758173;
 --laurel-green: #A9C5A0;
 --pastel-grey: #C6DEC6;
 --rich-black: #020402;
 /* rgba(2, 4, 2, 1) */
 --cerulean: #0081AF;
 --vivid-cerulean: #00ABE7;
 --spiro-disco: #2DC7FF;
 --desert-island: #EAD2AC;
 --yellow-red: #EABA6B;
 --pale-pink: #FFD9DA;
 --light-crimson: #EA638C;
 --pink-rasberry: #89023E;
 --gun-metal: #30343F;
 --jungle-green: #1B2021;
 --deep-saffron: #FFA630;
 --tea-green: #D7E8BA;
 --cadet-blue: #4DA1A9;
 --bdazzled-blue: #2E5077;
 --claret: #611C35;
 --dark-scarlet: #45062E;
 --silver-chalice: #ADA8B6;
 --charcoal: #2E4057;
 --red-ochre: #E9724C;
 --prune: #6F1D1B;
 --deer: #BB9457;
 --shadow: #8D775F;
 --champagne: #F1F0CC;
 --burleywood: #D5BF86;
 --viv-burgundy: #A71D31;
 --sark-sienna: #3F0D12;
 --dark-liver: #553D36;
 --wenge: #684A52;
 --old-silver: #857885;
 --cadet-grey: #87A0B2;
 --baby-blue: #A4BEF3;

 --yeon-sung: 'Yeon Sung', cursive;
 --coda-caption: 'Coda Caption', sans-serif;
 --overpass-mono: 'Overpass Mono', monospace;
 --bai-jamjuree: 'Bai Jamjuree', sans-serif;
 --krub: 'Krub', sans-serif;
 --anonymous-pro: 'Anonymous Pro', monospace;
 --dark-grotesque: 'Darker Grotesque', sans-serif;
 --gilder-display: 'Gilda Display', serif;
 --homenaje: 'Homenaje', sans-serif;
 --sansita: 'Sansita', sans-serif;
 --do-hyeon: 'Do Hyeon', sans-serif;
 --fell-english: 'IM Fell English SC', serif;
 --seaweed: 'Seaweed Script', cursive;
 --sedgwick: 'Sedgwick Ave Display', cursive;
 ---vast-shadow: 'Vast Shadow', cursive;
 --carrois: 'Carrois Gothic SC', sans-serif;
 --montez: 'Montez', cursive;
}

html {
 font-size: 10px;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}

img {
 width: 100%;
 max-width: 100%;
 height: auto;
}

p {
 font-size: 1.6reml;
}

body {
 background: var(--palm-leaf);
 color: var(--champagne);
}

section {
 padding: 5rem 0;
}

/* Header */

header {
 width: 100%;
 height: 7rem;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}

.container {
 width: 100%;
 max-width: 98rem;
 padding: 0 1.5rem;
 margin: 0 auto;
}

nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
}

.nav__brand {
 width: 4rem;
 margin-top: .5rem;
}

.menu__icons {
 font-size: 3.5rem;
 color: var(--champagne);
 cursor: pointer;
}


.nav__list {
 width: 25rem;
 height: 100vh;
 background: var(--charcoal);
 position: fixed;
 top: 0;
 right: -26rem;
 opacity: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 transition: all 650ms ease-in-out, opacity 820ms ease;
 z-index: 1500;
}

.nav__list.active {
 right: 0;
 opacity: 1;
}

.close {
 position: absolute;
 top: 2rem;
 left: 2rem;
}

.nav__item {
 margin: 1.5rem 0;
}

.nav__link {
 font-size: 1.6rem;
 color: var(--champagne);
 text-transform: uppercase;
 letter-spacing: .4rem;
}

/* Hero */

#hero {
 width: 100%;
 height: 80vh;
 background: linear-gradient(135deg, rgba(2, 4, 2, .6) 0%, rgba(2, 4, 2, .3) 100%), url('../img/dark-leaves.jpg') no-repeat center;
 background-size: cover;
}

.main__message {
 width: 100%;
 max-width: 50rem;
 color: var(--champagne);
 text-transform: uppercase;
 transform: translateY(20%);
}

.main__message h3 {
 font-size: 1.6rem;
}

.main__message h1 {
 font-family: var(--fell-english);
 font-size: 4rem;
 margin: 1rem 0;
}

.main__message p {
 text-transform: lowercase;
}

.btn {
 background-color: var(--charcoal);
 border-radius: 2rem;
 color: var(--champagne);
 display: inline-block;
 margin-top: 2rem;
 padding: 1rem 2.5rem;
 text-transform: uppercase;
 transition: background-color 650ms;
}

.btn:hover {
 background-color: rgba(46, 64, 87, .7);
}